body {
  font-family: monospace;
}
button {
  border-radius: 5px;
  background-color: rgb(37, 141, 251);
  color: white;
  padding: 5px 20px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0px;
  color: whitesmoke;
}
li {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
li:first-letter {
  text-transform: Capitalize;
}
img {
  width: 45px;
}

.btn {
  border-color: #393b3e;
}
.cityDisplay {
  position: relative;
  margin-top: 15px;
  margin-left: 20px;
}
.container {
  margin-top: 30px;
}
.control-form {
  padding-top: 10px;
  padding-left: 15px;
}
.location-form {
  display: inline;
  margin-top: 15px;
  margin-left: 15px;
  text-align: left;
  width: auto;
}
.weather-app {
  background: linear-gradient(
    0.2deg,
    rgb(51, 204, 255) 4.8%,
    rgb(51, 102, 255) 85.5%
  );
  background: -moz-linear-gradient(
    0.2deg,
    rgb(51, 204, 255) 4.8%,
    rgb(51, 102, 255) 85.5%
  );
  background: -o-linear-gradient(
    0.2deg,
    rgb(51, 204, 255) 4.8%,
    rgb(51, 102, 255) 85.5%
  );
  background: -webkit-linear-gradient(
    0.2deg,
    rgb(51, 204, 255) 4.8%,
    rgb(51, 102, 255) 85.5%s
  );
  border: 1px solid black;
  border-radius: 10px;
  opacity: 0.1px;
  width: 100%;
}
.weather-forecast {
  color: whitesmoke;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  max-width: 100%;
}

#current-location {
  font-size: 30px;
}

#icon {
  width: 100px;
}

#temperature {
  font-size: 50px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
#tempUnit {
  font-size: 20px;
  position: relative;
  top: -15px;
}
#rowForecast {
  width: 90%;
  margin: 0 auto;
}
.col-sm-2 {
  background: linear-gradient(rgb(51, 204, 255) 4.8%, rgb(51, 102, 255) 85.5%);
  background: -moz-linear-gradient(
    rgb(51, 204, 255) 4.8%,
    rgb(51, 102, 255) 85.5%
  );
  background: -o-linear-gradient(
    rgb(51, 204, 255) 4.8%,
    rgb(51, 102, 255) 85.5%
  );
  background: -webkit-linear-gradient(
    rgb(51, 204, 255) 4.8%,
    rgb(51, 102, 255) 85.5%
  );
  border-radius: 5px;
  margin: 10px 0px;
  padding: 0px;
}
#coder {
  text-align: center;
}

