body {
  font-family: monospace;
}
button {
  border-radius: 5px;
  background-color: rgb(37, 141, 251);
  color: white;
  padding: 5px 20px;
}
ul {
  list-style-type: none;
  padding: 0px;
  color: #0f1011;
}
li {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
.active {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.container {
  margin-top: 30px;
}
.control-form {
  padding-top: 10px;
  padding-left: 15px;
}

.card {
  width: 100%;
  padding: 20px 15px;
}
.location-form {
  display: inline;
  margin-top: 15px;
  margin-left: 15px;
  text-align: left;
  width: auto;
}

.col-sm-2 {
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  padding: 25px;
}

.col-sm-2 :hover {
  background-color: rgb(253, 247, 198);
}

.cityDisplay {
  position: relative;
  margin-top: 15px;
  margin-left: 30px;
}

#current-location {
  font-size: 30px;
}
#temperature {
  font-size: 40px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
#tempConversion {
  font-size: 20px;
  position: relative;
  top: -15px;
}
